[submodule ".emacs.d/emacs-nav"]
	path = .emacs.d/emacs-nav
	url = https://github.com/ancane/emacs-nav.git
[submodule ".emacs.d/Highlight-Indentation-for-Emacs"]
	path = .emacs.d/Highlight-Indentation-for-Emacs
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs.git
